<%= form_for(@sample) do |f| %>
  <% if @sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% @sample.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :device_id %><br />
    <%= f.number_field :device_id %>
  </div>
  <div class="field">
    <%= f.label :sample_time %><br />
    <%= f.datetime_select :sample_time %>
  </div>
  <div class="field">
    <%= f.label :device_time %><br />
    <%= f.datetime_select :device_time %>
  </div>
  <div class="field">
    <%= f.label :power %><br />
    <%= f.number_field :power %>
  </div>
  <div class="field">
    <%= f.label :temperature %><br />
    <%= f.text_field :temperature %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
