<p id="notice"><%= notice %></p>

<p>
  <b>Sample time:</b>
  <%= @sample.sample_time %>
</p>

<p>
  <b>Device time:</b>
  <%= @sample.device_time %>
</p>

<p>
  <b>Power:</b>
  <%= @sample.power %>
</p>

<p>
  <b>Temperature:</b>
  <%= @sample.temperature %>
</p>


<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
