<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @device.description %>
</p>

<p>
  <b>Upload code:</b>
  <%= @device.upload_code %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
